<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate Verification System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="index-container">
        <h1 class="index-heading">Welcome to the Certificate Verification System</h1>
        <p class="index-paragraph"><a class="index-link" href="/user">User Certificate Verification</a></p>
        <p class="index-paragraph"><a class="index-link" href="/official">Official Certificate Upload</a></p>
    </div>
</body>
</html>
